# ===== Eclipse =====
.metadata/
.classpath
.project
.factorypath
.settings/

# ===== Maven =====
target/

# ===== Build folders =====
bin/

# ===== Uploads (local files) =====
uploads/

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log