<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Details</title>
</head>
<body>

<h2 th:text="${job.title}"></h2>

<p><b>Location:</b> <span th:text="${job.location}"></span></p>
<p><b>Description:</b> <span th:text="${job.description}"></span></p>

<hr>

<form th:action="@{/applications/apply}" method="post">
    <input type="hidden" name="jobId" th:value="${job.id}" />
    <input type="hidden" name="jobSeekerId" th:value="${jobSeekerId}" />

    <button type="submit">Apply Job</button>
</form>

</body>
</html>