<form th:action="@{/jobseeker/education/add}" method="post">

    <input type="text" name="degree" placeholder="Degree"/>
    <input type="text" name="specialization" placeholder="Specialization"/>
    <input type="text" name="institution" placeholder="Institution"/>
    <input type="number" name="startYear" placeholder="Start Year"/>
    <input type="number" name="endYear" placeholder="End Year"/>
    <input type="text" name="grade" placeholder="Grade"/>

    <button type="submit">Add Education</button>
</form>