<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Job - RevHire</title>
</head>
<body>

<h2>Post New Job</h2>

<form action="/jobs/save" method="post">

    Title:
    <input type="text" name="title"><br><br>

    Description:
    <textarea name="description"></textarea><br><br>

    Location:
    <input type="text" name="location"><br><br>

    Job Type:
    <input type="text" name="jobType"><br><br>

    Experience Required:
    <input type="text" name="experienceRequired"><br><br>

    Salary Min:
    <input type="number" name="salaryMin"><br><br>

    Salary Max:
    <input type="number" name="salaryMax"><br><br>

    <button type="submit">Post Job</button>

</form>

</body>
</html>